.prefecturesWrapper {
  grid-column: span 1 / span 1;
}

.top {
  display: none;
}

.closeIcon {
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}

.prefectureList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 16px;
  column-gap: 8px;
}

.prefectureItem {
  display: flex;
  align-items: center;
}

.prefectureItem > input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.prefectureItem > label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.prefectureItem > label::before {
  content: "";
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 1px;
  border: 1px solid #000;
}

.prefectureItem input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 12px #4d4d4d;
}

.prefectureItem > input[type="checkbox"]:checked + label::before {
  content: "\002714";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: all ease-out 0.15s;
}

@media screen and (max-width: 1023px) {
  .prefecturesWrapper {
    padding: 0 20px 20px 20px;
    position: fixed;
    width: 75%;
    max-width: 360px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    border-right: 1px solid #d1d1d1;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: transform ease-out 0.25s;
  }
  .prefecturesWrapper::-webkit-scrollbar {
    display: none;
  }
  .top {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    margin: 0 -20px 0 -20px;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
  }
  .title {
    margin: 8px 0;
  }
}
